 body{
  margin: 10px;
 }
 
 p{
    color: orange;
 }
 #p-second{
    color: aquamarine;
 }
 video {
    width: 400px;
  }
  ul {
    list-style: none;
  }
  .product {
    background-color: gold;
    width: 300px;
  }
  .highlight {
    background-color: aqua;
  }
  img-cat {
    width: 300px;
  }

  a[href*="about"]{
    color: blue;
  }

  a[href*="container"]{
    color: green;
  }

  a[href*="semantic"]{
    color: yellow;
  }

  a[href*="structure"]{
    color: orange;
  }