 body{
  margin: 10px;
 }
 
 p{
    color: orange;
 }
 #p-second{
    color: aquamarine;
 }
 video {
    width: 400px;
  }
  ul {
    list-style: none;
  }
  .product {
    background-color: gold;
    width: 300px;
  }
  .highlight {
    background-color: aqua;
  }
  img-cat {
    width: 300px;
  }

  a[href*="about"]{
    color: blue;
  }

  a[href*="container"]{
    color: green;
  }

  a[href*="semantic"]{
    color: yellow;
  }

  a[href*="structure"]{
    color: orange;
  }

  #section-products p{
    color:blue;
  }

  p::first-letter{
    font-weight: bold;
    font-size: 140%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  ::selection{
    background-color: green;
  }
  
  p::first-line{
    font-weight: bold;
  }

  h2{
    color: blue;
  }

  .h2-light{
    color: green;
  }

  #h2-high{

  color: greenyellow;
  }

  .h2-light#h2-high{
    color: red;
  }

  h2.h2-light#h2-high{
    color: blueviolet;
  }

  .box{
    width: 200px;
    height: 200px;
    /*background-color: rgba(198, 235, 52);*/
    /*background-color: #c6eb34;*/
    /*background-color: hsl(72, 78%, 50%);*/
    background-color: hsla(72, 78%, 50%,0.5);
  }